body{
  background-color: black;
  margin-top: 50px;
}
h1{
  color: white;
}
/* car Image */
.carImage{
  height: 400px;
  width: 100%;
  margin-bottom: 10px;
}
/* making row go to center of page */
.row{
  margin: 0 auto;
}
/* making text go to left */
.wrapper {
  display: inline-block;
  margin-top: 25px;
  margin-left:;
  position: relative;  
  text-align: left;
}
/* displaying block 100% */
.wrapper img {
  display: block;
  max-width:100%;
}
.wrapper .overlay {
  position: absolute;
  top:60%;
  left:0;
  width:90%;
  height:0%;
  color:white;
}
 /* car img name */
.wrapper .overlay h1 {
  background-color: rgba(255,255,255,0.7); /* backup color */
  background-color: rgba(255,0,0,0.7);
}
.row {
  margin: 0 auto;
  word-wrap: break-word;
}
.person{
  padding-top: 20px;
}
