body{
  background-color: black;
  overflow-x: hidden;
  padding-top: 50px;
}
 /* navbar brand color */
.navbar-default .navbar-brand {
  color: #F00;
}
.navbar-brand:hover {
  color: white;
}
/* making navbar black */
.navbar-default {
  background-color: #000000;
  border-color: #e7e7e7;
}
/* changing navbar brand hovor color */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: black;
  background-color: white;
}
/* changinh icon-bar to white */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}
/* changing navbar colors */
.navbar-default .navbar-nav>li>a {
  color: #FFF;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: red;
  background-color: transparent;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
  background-color: transparent;
}
.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #fff;
  white-space: nowrap;
}
.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #fff;
  white-space: nowrap;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #000;
  background-color: #ffffff;
}
.dropdown-menu{
  background-color: white;
}
.dropdown-menu>li>a {
  color: black;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  color: white;
  text-decoration: none;
  background-color: black;
}
/* header */
.header {
  text-align: center;
  color: red;
}
.info{
  list-style-type: none;
  font-size: 40px;
  color: white;
  text-align: center;
}
#footer{
  text-align: center;
}
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 500px;
  border: 0;
}
#mapsContainer{
  padding-top: 20px;
}
#mapsInfo{
  color: white;
}
#footer{
  color: red;
}
