body{
  background-color: black;
  overflow-x: hidden;
  padding-top: 50px;
}
 /* navbar brand color */
.navbar-default .navbar-brand {
  color: #F00;
}
.navbar-brand:hover {
  color: white;
}
/* making navbar black */
.navbar-default {
  background-color: #000000;
  border-color: #e7e7e7;
}
/* changing navbar brand hovor color */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: black;
  background-color: white;
}
/* changinh icon-bar to white */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}
/* changing navbar colors */
.navbar-default .navbar-nav>li>a {
  color: #FFF;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: red;
  background-color: transparent;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
  background-color: transparent;
}
/* header */
.header {
  text-align: center;
  color: red;
}
.info{
  list-style-type: none;
  font-size: 40px;
  color: white;
  text-align: center;
}
#footer{
  text-align: center;
}
